@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/** 
 * copyrights 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
 * colors
 */

  --cadet-blue-crayola: hsl(227, 13%, 73%);
  --maximum-yellow-red: hsl(41, 95%, 61%);
  --medium-sea-green: hsl(142, 43%, 54%);
  --blue-crayola_10: hsla(222, 100%, 61%, 0.05);
  --smocky-black_30: hsla(0, 0%, 6%, 0.3);
  --eerie-black-1: hsl(240, 5%, 8%);
  --eerie-black-2: hsl(228, 9%, 10%);
  --raisin-black: hsl(225, 15%, 16%);
  --blue-crayola: hsl(222, 100%, 61%);
  --roman-silver: hsl(223, 10%, 52%);
  --presian-red: hsl(0, 64%, 52%);
  --gunmetal_50: hsla(230, 16%, 22%, 0.5);
  --gainsboro: hsl(0, 0%, 85%);
  --cultured: hsl(0, 0%, 93%);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white_30: hsla(0, 0%, 100%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);

  /**
 * gradient color
 */

  --gradient: linear-gradient(
    90deg,
    var(--white_10) 0px 77%,
    var(--white_50) 92%,
    transparent
  );

  /**
 * typography
 */

  --ff-dm-sans: "DM Sans", sans-serif;

  --fs-1: 3.2rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-500: 500;
  --fw-700: 700;

  /**
 * spacing
 */

  --section-padding: 100px;

  /**
 * shadow
 */

  --shadow-1: 0px 4px 8px var(--black_10);
  --shadow-2: 0px 30px 10px -20px var(--smocky-black_30);
  --shadow-3: 0px 15px 10px -20px var(--smocky-black_30);

  /**
 * radius
 */

  --radius-12: 12px;
  --radius-24: 24px;

  /**
 * transition
 */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

body.active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(220, 4%, 5%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(220, 5%, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(220, 5%, 30%);
}

:focus-visible {
  outline-offset: 4px;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

html {
  font-family: var(--ff-dm-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url(../assets/images/user_bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

span {
  color: white;
}

.container {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  border-radius: 30px;
  width: 300px;
  height: 650px;
  background: linear-gradient(to right, #202140, #2d2e48);
}

i.logo {
  color: #c0c4df;
}

span.account-label {
  font-size: 14px;
  color: #747598;
  font-weight: 700;
}

span.balance {
  font-size: 30px;
  color: #f5f4f1;
  font-weight: 600;
}

div.rounded-border {
  border: 6px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 30px;
  position: relative;
}

.grey-color {
  background-image: linear-gradient(to top right, #181930 50%, #3b3c58),
    linear-gradient(145deg, transparent 75%, #3b4065);
}

.plain-color {
  z-index: 1;
  background-image: linear-gradient(to top right, #181930 50%, #3b3c58);
}

.green-color {
  background-image: linear-gradient(to top right, #181930 50%, #3b3c58),
    linear-gradient(145deg, transparent 75%, #00c6c4);
}

.yellow-color {
  background-image: linear-gradient(to top right, #181930 50%, #3b3c58),
    linear-gradient(220deg, transparent 75%, #f5b300);
}

.yellow-color::before {
  left: -48px;
  bottom: -48px;
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: conic-gradient(
    #00c6c40f 0 12.5%,
    #f5b300af 0 37.5%,
    #f5b4000f 0 100%
  );
  filter: blur(15px);
}

.green-color::before {
  right: -98px;
  bottom: -68px;
  transform: rotate(225deg);
  content: "";
  position: absolute;
  width: 170px;
  height: 170px;
  background: conic-gradient(
    #00c6c40f 0 12.5%,
    #00c6c4af 0 37.5%,
    #00c6c40f 0 100%
  );
  filter: blur(30px);
}

span.currency-name {
  font-size: 16px;
  color: #f5f4f1;
  letter-spacing: 1px;
}

span.currency-value {
  font-size: 10px;
  font-weight: 700;
  color: #747598;
}

i.bitcoin {
  color: #f5b300;
}

i.ethereum {
  color: #878faf;
}

i.ripple {
  color: #00c6c4;
}

div.menu > i {
  color: #494b64;
  font-size: 1.3em;
}

div.menu > i.active {
  color: #c0c4df;
  border-bottom: 4px solid #c0c4df;
  border-radius: 3px;
  padding-bottom: 1px;
}

.btn {
  position: absolute;
  outline: none;
  border: none;
  cursor: pointer;
  color: #59596f;
  background: transparent;
  padding: none;
  bottom: -20px;
  right: 0%;
}
.withdraw {
  position: absolute;
  outline: none;
  border: none;
  cursor: pointer;
  color: #59596f;
  background: transparent;
  padding: none;
  left: 0%;
  bottom: -20px;
}
.withdraw:hover {
  transition: all 0.5;
  color: #181930;
}
.name {
  text-transform: capitalize;
}
.key {
  color: #59596f;
  position: absolute;
  left: 2px;
  bottom: -80px;
}
.key-id {
  font-size: 13px;
}
.two {
  color: #59596f;
  position: absolute;
  left: 2px;
  bottom: -120px;
}
.relative {
  position: relative;
}
.hidden {
  display: none;
}
.currency {
  font-size: 10px;
}

.increase h1 {
  color: #3ada62;
  font-size: 18px;
  font-weight: 400;
}
.decrease h1 {
  color: #f10;
  font-size: 18px;
  font-weight: 400;
}
/* 
<span id="loggedUserEmail"></span>
<button id="logout">Logout</button>
<span id="loggedUserFullName"></span>
<span id="loggedUserBalance"></span>
*/
